@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --max-container-width: 1600px;

    --p-x-exterior-lg: 5rem;
    --p-x-interior-lg: 3rem;
    --p-x-md: 2rem;
    --p-x-sm: 1rem;
    --p-y-md: 12rem;
    --p-y-sm: 8rem;


    --nav-item-height: 50px;
    --header-main-height: 128px;
    --header-main-height-mobile: 59px;

    --component-height: 600px;


    --v-main-blue-400: #202a44;
    --v-main-blue-300: #1B365D;
    --v-main-blue-200: #7089AC;
    --v-main-blue-100: #CED9E5;
    --v-main-white: #FFFFFF;
    --v-main-black: #000000;
    --v-main-grey-darkest: #141414;
    --v-main-grey-1: #e1dfdd;
    --v-main-grey-2: #a7aba9;
    --v-main-grey-3: #888b8d;
    --v-accent-flow: #2d606f;
    --v-main-grey-4: #53565a;
    --v-functional-green-100: #d8efde;
    --v-color: #ffffff;
    --v-functional-green-400: #6cc17a;
    --v-functional-green-600: #338f59;
    --v-functional-green-700: #167d4a;
    --v-functional-green-900: #2c4730;
    --v-functional-red-100: #f8dddb;
    --v-functional-red-400: #ff6b54;
    --v-functional-red-600: #de3333;
    --v-functional-red-700: #bf2012;
    --v-functional-red-900: #4c2821;
    --v-functional-blue-100: #d5e6ff;
    --v-functional-blue-200: #a7cdfa;
    --v-functional-blue-300: #7db7fa;
    --v-functional-blue-400: #5e9feb;
    --v-functional-blue-500: #4781c4;
    --v-functional-blue-600: #376fb0;
    --v-functional-blue-700: #2a609d;
    --v-functional-blue-800: #204d80;
    --v-functional-blue-900: #1a3554;
    --v-grayscale-50: #f7f7f7;
    --v-grayscale-100: #d5d5d5;
    --v-grayscale-200: #C8C9C7;
    --v-grayscale-300: #A7A8A9;
    --v-grayscale-400: #888B8D;
    --v-grayscale-500: #53565A;
    --v-accent-flow-1: #396976;
    --v-accent-flow-2: #678c96;
    --v-accent-flow-3: #96b0b6;
    --v-accent-flow-4: #c3d2d6;
    --v-accent-teal: #1e6659;
    --v-accent-teal-1: #b8ded8;
    --v-accent-teal-2: #8dc9bf;
    --v-accent-teal-3: #66b3a6;
    --v-accent-teal-4: #50a294;
    --v-accent-leaf: #426932;
    --v-accent-leaf-1: #c8e691;
    --v-accent-leaf-2: #c8e691;
    --v-accent-leaf-3: #8fc54e;
    --v-accent-leaf-4: #78b833;
    --v-accent-sea: #1b365d;
    --v-accent-sea-1: #06497a;
    --v-accent-sea-2: #476896;
    --v-accent-sea-3: #7b9ab8;
    --v-accent-sea-4: #d8e1eb;
    --v-accent-sand: #7d5638;
    --v-accent-sand-1: #ac8464;
    --v-accent-sand-2: #c0a790;
    --v-accent-sand-3: #d8bea4;
    --v-accent-sand-4: #eee2d2;



    --background: var(--v-main-white);
    --background-alt: var(--v-grayscale-200);
    --foreground: var(--v-main-grey-darkest);
    --foreground-inverse: var(--v-main-white);
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: var(--v-functional-blue-700);
    --primary-foreground: var(--v-main-white);
    --secondary: #fafafa;
    --secondary-foreground: 0 0% 64%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-1: var(--v-accent-flow-1);
    --accent-2: var(--v-accent-teal-4);
    --accent-brand: var(--v-main-blue-400);
    --accent-foreground: var(--v-main-blue-700);
    --destructive: var(--v-functional-red-700);
    --destructive-foreground: 0 0% 98%;
    --border: var(--v-grayscale-100);
    --divider: var(--v-grayscale-50);
    --input: var(--v-main-white);
    --ring: var(--v-main-grey-darkest);
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;

    --v-font-heading-1-lineheight: calc(.31rem + 2ex);
    --v-font-heading-1-size-min: 2rem;
    --v-font-heading-1-size-max: 2.5rem;
    --v-font-heading-1-size: clamp(var(--v-font-heading-1-size-min), 1vw + 1.7rem, var(--v-font-heading-1-size-max));

    --v-font-heading-2-lineheight: calc(.31rem + 2ex);
    --v-font-heading-2-size-min: 1.5rem;
    --v-font-heading-2-size-max: 2rem;
    --v-font-heading-2-size: clamp(var(--v-font-heading-2-size-min), 1vw + 1.2rem, var(--v-font-heading-2-size-max));

    --v-font-heading-3-size-min: 1.5rem;
    --v-font-heading-3-size-max: 2rem;
    --v-font-heading-3-size: clamp(var(--v-font-heading-3-size-min), 1vw + 1.2rem, var(--v-font-heading-3-size-max));
    --v-font-heading-3-lineheight: calc(.31rem + 2ex);

    --v-font-statement-signature-lineheight: 1;
    --v-font-statement-signature-size-min: 2.5rem;
    --v-font-statement-signature-size-max: 4.5rem;
    --v-font-statement-signature-size: clamp(var(--v-font-statement-signature-size-min), 4vw + 1.3rem, var(--v-font-statement-signature-size-max));

    --v-font-statement-1-lineheight: calc(.31rem + 2ex);
    --v-font-statement-1-size-min: 4rem;
    --v-font-statement-1-size-max: 6rem;
    --v-font-statement-1-size: clamp(var(--v-font-statement-1-size-min), 4vw + 2.8rem, var(--v-font-statement-1-size-max));
    --v-font-statement-1: var(--v-font-emphasis-weight) var(--v-font-statement-1-size) / var(--v-font-statement-1-lineheight) var(--v-font-sans-family);

    --v-font-statement-2-lineheight: calc(.31rem + 2ex);
    --v-font-statement-2-size-min: 3.5rem;
    --v-font-statement-2-size-max: 4.5rem;
    --v-font-statement-2-size: clamp(var(--v-font-statement-2-size-min), 2vw + 2.9rem, var(--v-font-statement-2-size-max));
    --v-font-statement-2: var(--v-font-emphasis-weight) var(--v-font-statement-2-size) / var(--v-font-statement-2-lineheight) var(--v-font-sans-family);

    --v-font-statement-3-lineheight: calc(.31rem + 2ex);
    --v-font-statement-3-size-min: 3rem;
    --v-font-statement-3-size-max: 3.5rem;
    --v-font-statement-3-size: clamp(var(--v-font-statement-3-size-min), 1vw + 2.7rem, var(--v-font-statement-3-size-max));
  }

}

@layer base {
  * {
    @apply border-border;
    scroll-behavior: smooth;
    scroll-padding-top: 20vh;
  }

  body {
    @apply bg-background text-foreground;
  }

  .max-container {
    @apply mx-auto max-w-[var(--max-container-width)];
  }

  .component-height {
    @apply h-auto lg:h-[var(--component-height)] min-h-[50svh] lg:min-h-0;
  }

  .padding-half-left {
    @apply px-[var(--p-x-sm)] md:px-[var(--p-x-md)] py-[var(--p-y-sm)] md:py-[var(--p-y-md)] lg:pr-[var(--p-x-interior-lg)] lg:pl-[var(--p-x-exterior-lg)];
  }

  .padding-center {
    @apply px-[var(--p-x-sm)] md:px-[var(--p-x-md)] lg:px-[var(--p-x-exterior-lg)];
  }

  .heading-1,
  .heading-2,
  .heading-3 {
    font-family: var(--font-volvo-novum);
    font-weight: 700;
    text-wrap: balance;
  }


  .heading-1 {
    line-height: var(--v-font-heading-1-lineheight);
    font-size: var(--v-font-heading-1-size);
  }

  .heading-2 {
    line-height: var(--v-font-heading-2-lineheight);
    font-size: var(--v-font-heading-2-size);
  }

  .heading-3 {
    line-height: var(--v-font-heading-3-lineheight);
    font-size: var(--v-font-heading-3-size);
  }

  .signature-statement {
    font-family: var(--font-volvo-broad);
    font-size: var(--v-font-statement-signature-size);
    line-height: var(--v-font-statement-signature-lineheight);
    text-wrap: balance;
  }

  .statement-1,
  .statement-2,
  .statement-3 {
    font-family: var(--font-volvo-novum);
    text-wrap: balance;
    font-weight: 700;
  }

  .statement-1 {
    font-size: var(--v-font-statement-1-size);
    line-height: var(--v-font-statement-1-lineheight);
  }

  .statement-2 {
    font-size: var(--v-font-statement-2-size);
    line-height: var(--v-font-statement-2-lineheight);
  }

  .statement-3 {
    font-size: var(--v-font-statement-3-size);
    line-height: var(--v-font-statement-3-lineheight);
  }

}



.sanity-icon {
  svg {
    font-size: 2rem !important;
  }
}

/* view transition api */
.page-transition {
  opacity: 0;
  transition: opacity 0.7s ease;
}

.page-transition.active {
  opacity: 1;
}